<div class="menu-bar">
   <a href="/signin"> <i id="prim" class='bx bx-user-pin'></i></a>
    <%= image_tag('SKED.png',alt: "", id: "skd") %>
    <div class="container">
      <form class="search-bar">
          <input type="text" placeholder="Search" name="q">
          <button type="submit"><i class="fa fa-search" aria-hidden="true"></i>
  </button>
      </form>
  </div>
      <ul>
        <li>
         <B> <a href="#">Features</a>  </B>
          <div class="sub-menu-1">
            <ul>
              <li><a href="#">Templates</a></li>
              <li><a href="#">Automation</a></li>
              <li><a href="#">Views</a></li>
            </ul>
          </div>
        </li>
        <li>
         <B> <a href="#">Solution</a>  </B>
               <div class="sub-menu-1">
                <ul>
                  <li><a href="#">Marketing</a></li>
                  <li><a href="#">Product</a></li>
                  <li><a href="#">Design</a></li>
                  <li><a href="#">Testing</a></li>
                  <li><a href="#">Automation</a></li>
                  <li><a href="#">Development</a></li>
                </ul>
                <li>
                 <B> <a href="#">Resources</a> </B>
                      <div class="sub-menu-1">
                        <ul>
                          <li><a href="#">Guide</a></li>
                          <li><a href="#">Blog</a></li>
                        </ul>
                      </div>
            </div>
            
              </div>      
    </div>
    <div id="bgtx">
     <b> <p>SKED</p> </b>
    </div>
    <div id="lngtx">
   <b> <p> Assists squads to take tasks ahead</p></b>
  </div>
  <div id="littx">
    <p>
      Co-operate,supervise and take your team to the great heights.
    </p>
  </div>
  <div class="frame">
    <a href="/boards/new"><button class="custom-btn btn-3"><span>Explore</span></button></a>
  </div>
    <%= image_tag('task-man.webp',alt: "", id: "tskim") %>
  <div id="nxtx">
    <b><p>
      Work together and grow your team together
    </p></b>
  </div>
  <div id="cstx">
    <p>
      Customize and expand with more features as your teamwork grows.
    </p>
  </div>

<div id="vid">
  <%=video_tag"istockphoto-1308988427-640_adpp_is.mp4", controls: "true", id: "video" %>

</div>

 <%= image_tag('vid-im.png',alt: "", id: "shvid") %>


 <div id="fot">
  <%= image_tag('SKED.png',alt: "", id: "skimg") %>
  <p id="faco">CONTACT US</p> 
  <p id="fabt">ABOUT SKED</p>
  <p id="abwrd">What is behind the boards.</p>
  <p id="ctwr">Need anything? Get in touch and we can help</p>
  <hr id="indln">
  <p id="prvc">Privacy Policy</p>
  <p id="cprt">Copyright © 2022 FWSA</p>
  <ul class="socbx">
    <a href="https://www.instagram.com/?hl=en"><i class='bx bxl-instagram' id="inic"></i></a>
    <a href="https://www.linkedin.com/in/kaushick-singh-b75478232/"><i class='bx bxl-linkedin' id="inic"></i></a>
    <a href="https://www.facebook.com/"><i class='bx bxl-facebook' id="inic"></i></a>
    <a href="https://twitter.com/i/flow/login"><i class='bx bxl-twitter' id="inic"></i></a>
</ul>
 </div>