<div class="menu-bar">
   <a href="/signin"> <em id="prim" class='bx bx-user-pin'></em></a>
    <a href="/homes/index"><%= image_tag('SKED.png',alt: "", id: "skd") %></a>
    <div class="container">
      <form class="search-bar" role="search" action="/search">
          <input type="text" placeholder="Search"  required pattern=".*\S+.*" title="Search field cannot be Blank"  name="q">
          <button type="submit"><em class="fa fa-search" aria-hidden="true"></em>
  </button>
      </form>
  </div>
      <ul>
        <li>
         <strong> <a href="#">Features</a>  </strong>
          <div class="sub-menu-1">
            <ul>
              <li><a href="/posts">Templates</a></li>
              <li><a href="#">Automation</a></li>
              <li><a href="/homes/views">Views</a></li>
            </ul>
          </div>
        </li>
        <li>
         <strong> <a href="#">Solution</a>  </strong>
               <div class="sub-menu-1">
                <ul>
                  <li><a href="/posts">Design</a></li>
                  <li><a href="/posts">Development</a></li>
                  <li><a href="/posts">Marketing</a></li>
                  <li><a href="/posts">Business</a></li>
                </ul>
                <li>
                 <strong> <a href="#">Resources</a> </strong>
                      <div class="sub-menu-1">
                        <ul>
                          <li><a href="#">Guide</a></li>
                        </ul>
                      </div>
            </div>
            
              </div>      
    </div>
    <div id="bgtx">
     <strong> <p>SKED</p> </strong>
    </div>
    <div id="lngtx">
   <strong> <p> Assists squads to take tasks ahead</p></strong>
  </div>
  <div id="littx">
    <p>
      Co-operate,supervise and take your team to the great heights.
    </p>
  </div>
  <div class="frame">
  <% if @presence == 1%>
    <a href="/boards/new"><button class="custom-btn btn-3"><span>Explore</span></button></a>

    <% else %>
    <a href="/signin"><button class="custom-btn btn-3"><span>Explore</span></button></a>
    <% end %>
  </div>
    <%= image_tag('task-man.webp',alt: "", id: "tskim") %>
  <div id="nxtx">
    <strong><p>
      Work together and grow your team together
    </p></strong>
  </div>
  <div id="cstx">
    <p>
      Customize and expand with more features as your teamwork grows.
    </p>
  </div>

<div id="vid">
  <%=video_tag"istockphoto-1308988427-640_adpp_is.mp4", controls: "true", id: "video" %>

</div>

 <%= image_tag('vid-im.png',alt: "", id: "shvid") %>


 <div id="fot">
  <%= image_tag('SKED.png',alt: "", id: "skimg") %>
  <p id="faco">CONTACT US</p> 
  <p id="fabt">ABOUT SKED</p>
  <p id="abwrd">What is behind the boards.</p>
  <p id="ctwr">Need anything? Get in touch and we can help</p>
  <hr id="indln">
  <p id="prvc">Privacy Policy</p>
  <p id="cprt">Copyright © 2022 FWSA</p>
  <ul class="socbx">
    <a href="https://www.instagram.com/?hl=en"><em class='bx bxl-instagram' id="inic"></em></a>
    <a href="https://www.linkedin.com/in/kaushick-singh-b75478232/"><em class='bx bxl-linkedin' id="inic"></em></a>
    <a href="https://www.facebook.com/"><em class='bx bxl-facebook' id="inic"></em></a>
    <a href="https://twitter.com/em/flow/login"><em class='bx bxl-twitter' id="inic"></em></a>
</ul>
 </div>