<div class="menu-bar">

    <a href="/homes/index"><%= image_tag('SKED.png',alt: "", id: "skd") %></a>
    <div class="container">
      <form class="search-bar" role="search" action="/search">
          <input type="text" placeholder="Search" required pattern=".*\S+.*" title="Search field cannot be Blank" name="q">
          <button type="submit"><i class="fa fa-search" aria-hidden="true"></i>
  </button>
      </form>
       
       <% logged_user = User.find(session[:current_user_id]) %>
       <a id="usicb" class="ace" href="/signout">Logout</a>
      
        <i id="usicn" class='bx bx-user-pin' onclick="log()"></i>
      
       
       
        <b><label class="user-name"><%= logged_user["name"] %></label></b>

  </div>
      <ul>
        <li>
         <B> <a href="#">Features</a>  </B>
          <div class="sub-menu-1">
            <ul>
              <li><a href="/posts">Templates</a></li>
              <li><a href="#">Automation</a></li>
              <li><a href="/homes/views">Views</a></li>
            </ul>
          </div>
        </li>
        <li>
         <B> <a href="#">Solution</a>  </B>
               <div class="sub-menu-1">
                <ul>
                  <li><a href="/posts">Design</a></li>
                  <li><a href="/posts">Development</a></li>
                  <li><a href="/posts">Marketing</a></li>
                  <li><a href="/posts">Business</a></li>
                </ul>
                <li>
                 <B> <a href="#">Resources</a> </B>
                      <div class="sub-menu-1">
                        <ul>
                          <li><a href="#">Guide</a></li>
                        </ul>
                      </div>
            </div>
            
              </div>      
    </div>

          <div class="view_div">
            <div id="frsttx">
                <b><p>Give work a new look with Sked views.</p></b>
            </div>

            <div id="sectx">
                <p>See your projects from every angle with Board and Workspace views that will bring a fresh perspective to the task at hand.</p>
            </div>

            <%= image_tag('view-img.png',alt: "", id: "viw-fim") %>
          </div>  

          <div id="vid_view">
                <b><p>See what views can do for you </p></b>
               </div>

                <div id="viedo">
                <%# <b><p>See what views can do for you </p></b> %>
               </div>
               
                <div id="viw-txt">
                <b><p>Success starts with a Sked board</p></b>
               </div>

              <div id="vsec-txt">
                <b><p>A Sked board is the easiest way to go from idea to action. Plan projects and break down each step of the way to getting things done. Instantly see the status of every task and celebrate each accomplishment. Project management has never been so powerful, yet so fun.</p></b>
              </div>

            <%= image_tag('vewbord-img.webp',alt: "", id: "vibo-img") %>


              <div id="vtrd-txt">
                <b><p>Success starts with a Sked board</p></b>
              </div>
              
               <div id="vfr-txt">
                <b><p>Create as many custom overviews as you need across Workspace boards. Use the Workspace Table to keep track of minor details or large projects.</p></b>
              </div>
            
            <%= image_tag('multy-viewimg.webp',alt: "", id: "mul-img") %>



 <div id="foter">
  <%= image_tag('SKED.png',alt: "", id: "skimg") %>
  <p id="faco">CONTACT US</p> 
  <p id="fabt">ABOUT SKED</p>
  <p id="abwrd">What is behind the boards.</p>
  <p id="ctwr">Need anything? Get in touch and we can help</p>
  <hr id="indln">
  <p id="prvc">Privacy Policy</p>
  <p id="cprt">Copyright © 2022 FWSA</p>
  <ul class="socbx">
    <a href="https://www.instagram.com/?hl=en"><i class='bx bxl-instagram' id="inic"></i></a>
    <a href="https://www.linkedin.com/in/kaushick-singh-b75478232/"><i class='bx bxl-linkedin' id="inic"></i></a>
    <a href="https://www.facebook.com/"><i class='bx bxl-facebook' id="inic"></i></a>
    <a href="https://twitter.com/i/flow/login"><i class='bx bxl-twitter' id="inic"></i></a>
</ul>
 </div>

 <script>
 

  function log(){
    console.log("work")
    var log = document.getElementById("usicn");
  var log_a = document.getElementById("usicb");
  log_a.classList.toggle("acea")

  }
</script>