<div class="menu-bar">

    <a href="/homes/index"><%= image_tag('SKED.png',alt: "", id: "skd") %></a>
    <div class="container">
      <form class="search-bar" role="search" action="/search">
          <input type="text" placeholder="Search" required pattern=".*\S+.*" title="Search field cannot be Blank" name="q">
          <button type="submit"><em class="fa fa-search" aria-hidden="true"></em>
  </button>
      </form>
       
       <% logged_user = User.find(session[:current_user_id]) %>
       <a id="usicb" class="ace" href="/signout">Logout</a>
      
        <em id="usicn" class='bx bx-user-pin' onclick="log()"></em>
      
       
       
        <strong><label class="user-name"><%= logged_user["name"] %></label></strong>

  </div>
      <ul>
        <li>
         <strong> <a href="#">Features</a>  </strong>
          <div class="sub-menu-1">
            <ul>
              <li><a href="/posts">Templates</a></li>
              <li><a href="#">Automation</a></li>
              <li><a href="/homes/views">Views</a></li>
            </ul>
          </div>
        </li>
        <li>
         <strong> <a href="#">Solution</a>  </strong>
               <div class="sub-menu-1">
                <ul>
                  <li><a href="/posts">Design</a></li>
                  <li><a href="/posts">Development</a></li>
                  <li><a href="/posts">Marketing</a></li>
                  <li><a href="/posts">Business</a></li>
                </ul>
                <li>
                 <strong> <a href="#">Resources</a> </strong>
                      <div class="sub-menu-1">
                        <ul>
                          <li><a href="#">Guide</a></li>
                        </ul>
                      </div>
            </div>
            
              </div>      
    </div>

    <div class="siddv">
        <a href=""><em id="bord" class='bx bxs-dashboard'></em>
        <strong><p id="wrbrd"> Boards </p></strong>
        </a>

        <a href="/posts"><em id="lyot" class='bx bxs-layout'></em></em>
        <strong><p id="wrtemp"> Templates </p></strong>
        </a>

         <a href="/homes/index"><em id="homic" class='bx bxs-home-smile'></em>
        <strong><p id="wrhom"> Home </p></strong>
        </a>

         <nav>
        <strong><label for="btnnn"  class="buttonnn"> Web Hosting 
            <span id="drdwn" class="fas fa-caret-down"></span>
        </label></strong>
        <input type="checkbox" id="btnnn">
         <ul class="menu">
              <li><a href=""> Board </a></li>
            <li>
                <label for="btnnn-2" class="first">Highlights
                    <span class="fas fa-caret-down"></span>
                </label>
                  <input type="checkbox" id="btnnn-2">
                <ul>
                    <li><a href="#">Pages</a></li>
                </ul>
            </li>
            <li><a href="#">Settings</a></li>
        </ul>
    </nav>

        <div class="brodv" id="popup-div">
       
        <strong><p id="crtbor">
            Create board   
        </p></strong>
       <a id="close-btn" > <em class='bx bx-x' id="clsic"></em> </a>
        <hr id="lne">
        <form action="/background" method="post">
            <input name="authenticity_token" type="hidden" value=" <%= form_authenticity_token %>">
          <div class="brd-div">
          <strong><p id="bgim">
            Background
          </p></strong>
          <input id="marrdo" type="radio" name="bg" value="Marketing">
          <%= image_tag('Marketing.jpg',alt: "", id: "marim") %>
          <input id="prordo" type="radio" name="bg" value="programer">
          <%= image_tag('programer.jpg',alt: "", id: "proim") %>
          <input id="desgrdo" type="radio" name="bg" value="design">
          <%= image_tag('Design.jpg',alt: "", id: "dsgim") %>
          <input id="testrdo" type="radio" name="bg" value="testing">
          <%= image_tag('Testing.jpg',alt: "", id: "tstim") %>
          <input id="autmardo" type="radio" name="bg" value="automation">
          <%= image_tag('Autmation.jpg',alt: "", id: "atoim") %>
          <input id="devprdo" type="radio" name="bg" value="development">
          <%= image_tag('Devlopment.jpg',alt: "", id: "dvpim") %>
          </div>
          <%# <input pattern="[A-Za-z]{1,20}" type="text" name="" value="" id="brd_nam" required > %>
          <button type="submit" id="brd-btn">set</button>
        </form>
        
            <div class="aut_img">
            <form action="/boards" method="post" enctype="multipart/form-data" id="hlo">
            <input name="authenticity_token" type="hidden" value=" <%= form_authenticity_token %>">
            <input type="file" name="board[cover_picture]">
            <button type="submit">Submit</button>
            </form>
            </div>
        </div>


    </div>

        <div class="rgtdv">  
        <strong><p id="lnk">
          Connect
        </p></strong>  
        <a id="create-btn"><em id="lnicn" class='bx bx-link'></em><p id="crbrd">
          Create a board  
        </p><a>
    </div>  

        <%= image_tag('land-img.png',alt: "", id: "lndim") %>




<%= javascript_pack_tag 'new.js' %> 

<script>
 

  function log(){
    console.log("work")
    var log = document.getElementById("usicn");
  var log_a = document.getElementById("usicb");
  log_a.classList.toggle("acea")

  }
</script>