<div class="menu-bar">

    <%= image_tag('SKED.png',alt: "", id: "skd") %>
    <div class="container">
      <form class="search-bar" role="search" action="/search">
          <input type="text" placeholder="Search" name="q">
          <button type="submit"><i class="fa fa-search" aria-hidden="true"></i>
  </button>
      </form>

       <% logged_user = User.find(session[:current_user_id]) %>
  <i id="prim" class='bx bx-user-pin'></i>
          <label class="user-name"><%= logged_user["name"] %></label>
  </div>
      <ul>
        <li>
         <B> <a href="#">Features</a>  </B>
          <div class="sub-menu-1">
            <ul>
              <li><a href="#">Templates</a></li>
              <li><a href="#">Automation</a></li>
              <li><a href="#">Views</a></li>
            </ul>
          </div>
        </li>
        <li>
         <B> <a href="#">Solution</a>  </B>
               <div class="sub-menu-1">
                <ul>
                  <li><a href="#">Marketing</a></li>
                  <li><a href="#">Product</a></li>
                  <li><a href="#">Design</a></li>
                  <li><a href="#">Testing</a></li>
                  <li><a href="#">Automation</a></li>
                  <li><a href="#">Development</a></li>
                </ul>
                <li>
                 <B> <a href="#">Resources</a> </B>
                      <div class="sub-menu-1">
                        <ul>
                          <li><a href="#">Guide</a></li>
                          <li><a href="#">Blog</a></li>
                        </ul>
                      </div>
            </div>
            
              </div>      
    </div>

    <div class="siddv">
        <a href=""><i id="bord" class='bx bxs-dashboard'></i>
        <b><p id="wrbrd"> Boards </p></b>
        </a>

        <a href=""><i id="lyot" class='bx bxs-layout'></i></i>
        <b><p id="wrtemp"> Templates </p></b>
        </a>

         <a href=""><i id="homic" class='bx bxs-home-smile'></i>
        <b><p id="wrhom"> Home </p></b>
        </a>

         <nav>
        <b><label for="btnnn"  class="buttonnn"> Web Hosting 
            <span id="drdwn" class="fas fa-caret-down"></span>
        </label></b>
        <input type="checkbox" id="btnnn">
         <ul class="menu">
              <li><a href="#"> Board </a></li>
            <li>
                <label for="btnnn-2" class="first">Highlights
                    <span class="fas fa-caret-down"></span>
                </label>
                  <input type="checkbox" id="btnnn-2">
                <ul>
                    <li><a href="#">Pages</a></li>
                </ul>
            </li>
            <li><a href="#">Settings</a></li>
        </ul>
    </nav>

        <div class="brodv" id="popup-div">
       
        <b><p id="crtbor">
            Create board   
        </p></b>
       <a id="close-btn" > <i class='bx bx-x' id="clsic"></i> </a>
        <hr id="lne">
        <form action="/background" method="post">
            <input name="authenticity_token" type="hidden" value=" <%= form_authenticity_token %>">
          <b><p id="bgim">
            Background
          </p></b>
          <input id="marrdo" type="radio" name="bg" value="Marketing">
          <%= image_tag('Marketing.jpg',alt: "", id: "marim") %>
          <input id="prordo" type="radio" name="bg" value="programer">
          <%= image_tag('programer.jpg',alt: "", id: "proim") %>
          <input id="desgrdo" type="radio" name="bg" value="design">
          <%= image_tag('Design.jpg',alt: "", id: "dsgim") %>
          <input id="testrdo" type="radio" name="bg" value="testing">
          <%= image_tag('Testing.jpg',alt: "", id: "tstim") %>
          <input id="autmardo" type="radio" name="bg" value="automation">
          <%= image_tag('Autmation.jpg',alt: "", id: "atoim") %>
          <input id="devprdo" type="radio" name="bg" value="development">
          <%= image_tag('Devlopment.jpg',alt: "", id: "dvpim") %>
          <button type="submit">set</button>
        </form>
        
            <form action="/boards" method="post" enctype="multipart/form-data" id="hlo">
            <input name="authenticity_token" type="hidden" value=" <%= form_authenticity_token %>">
            <input type="file" name="board[cover_picture]">
            <button type="submit">Submit</button>
            </form>
        </div>


    </div>

        <div class="rgtdv">  
        <b><p id="lnk">
          Connect
        </p></b>  
        <a id="create-btn"><i id="lnicn" class='bx bx-link'></i><p id="crbrd">
          Create a board  
        </p><a>
    </div>  

        <%= image_tag('land-img.png',alt: "", id: "lndim") %>




<%= javascript_pack_tag 'new.js' %> 