<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="pst-div">
<b><p id="pst-tie">Add Your Post Here</p></b>

<%= image_tag('post-div-img.png',alt: "", id: "pst4-img") %>

  <div class="field">
    <b><%= form.label :title, class:"ttl_pst"%></b>
    <%= form.text_field :title , class:"frm_pst"%>
  </div>


 <div class="field">
   <b><%= form.label :header_image, class:"hed_img" %></b>
   <%= form.file_field :header_image , class:"fle_head" %>
 </div>

  <div class="body_fld">
    <b><%= form.label :body, class:"bod_tx" %></b>
    <%= form.text_area :body,class:"bd_txt" %>
  </div>

  
 <div class="field">
   <b><%= form.label :files, class:"fld_inp" %></b>
   <%= form.file_field :files, multiple: true ,class:"fld_txt"%>
 </div>

  <div >
    <%= form.submit :CreatePost , class:"crt_sub" %>
  </div>

</div>

<% end %>
