<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="pst-div">
<b><p id="pst-tie">Add Your Post Here</p></b>

<%= image_tag('post-div-img.png',alt: "", id: "pst4-img") %>

  <div class="field">
    <b><%= form.label :title, class:"ttl_pst"%></b>
    <%= form.text_field :title , class:"frm_pst"%>
  </div>

    <%# #  use this for one attachment %>

 <div class="field">
   <%= form.label :header_image, class:"" %>
   <%= form.file_field :header_image %>
 </div>

  <div class="field">
    <%= form.label :body, class:"" %>
    <%= form.text_area :body %>
  </div>

  
 <%# # use this for many attachments, note we need multiple: true %>

 <div class="field">
   <%= form.label :files, class:"" %>
   <%= form.file_field :files, multiple: true %>
 </div>

  <div class="actions">
    <%= form.submit %>
  </div>

</div>

<% end %>
