<div class="menu-bar">

    <a href="/homes/index"><%= image_tag('SKED.png',alt: "", id: "skd") %></a>
    <div class="container">
      <form class="search-bar" role="search" action="/search">
          <input type="text" placeholder="Search" required pattern=".*\S+.*" title="Search field cannot be Blank" name="q">
          <button type="submit"><em class="fa fa-search" aria-hidden="true"></em>
  </button>
      </form>
       
       <% logged_user = User.find(session[:current_user_id]) %>
       <a id="usicb" class="ace" href="/signout">Logout</a>
      
        <em id="usicn" class='bx bx-user-pin' onclick="log()"></em>
      
       
       
        <strong><label class="user-name"><%= logged_user["name"] %></label></strong>

  </div>
      <ul>
        <li>
         <strong> <a href="#">Features</a>  </strong>
          <div class="sub-menu-1">
            <ul>
              <li><a href="/posts">Templates</a></li>
              <li><a href="#">Automation</a></li>
              <li><a href="/homes/views">Views</a></li>
            </ul>
          </div>
        </li>
        <li>
         <strong> <a href="#">Solution</a>  </strong>
               <div class="sub-menu-1">
                <ul>
                  <li><a href="/posts">Design</a></li>
                  <li><a href="/posts">Development</a></li>
                  <li><a href="/posts">Marketing</a></li>
                  <li><a href="/posts">Business</a></li>
                </ul>
                <li>
                 <strong> <a href="#">Resources</a> </strong>
                      <div class="sub-menu-1">
                        <ul>
                          <li><a href="#">Guide</a></li>
                        </ul>
                      </div>
            </div>
            
              </div>      
    </div>

<p id="notice"><%= notice %></p>

<div class="prdct_dep">
<div class="des_div">
<%= image_tag('design-temp.webp',alt: "", id: "dsg_im") %>
 <strong><p id="dsg_p">Design</p></strong>
</div>
<div class="devlop_div">
 <%= image_tag('develop-temp.webp',alt: "", id: "dev_im") %>
 <strong><p id="dsg_p">Development</p></strong>
</div>
<div class="markt_div">
 <%= image_tag('marketing-temp.webp',alt: "", id: "mar_im") %>
 <strong><p id="dsg_p">Marketing</p></strong>
</div>
<div class="buss_div">
 <%= image_tag('business-temp.webp',alt: "", id: "bus_im") %>
 <strong><p id="dsg_p">Business</p></strong>
</div>
</div>

<strong><p id="ttl_tmp">New and notable templates</p></strong>
  <div class="temp_dv">
 
    <% @posts.each do |post| %>
    <%= post.title %>
       <p>
       <%= post.body %>
        <%= link_to 'More. . .', post, class:"pst_sho" %>
        <%# <%= link_to 'Edit', edit_post_path(post) %>
       <%# <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %> 
      </p>
    <% end %>
    </div>
 <strong><p id="txt_new">Need to add your template</p></strong>
<div class="new_pst">
<%= link_to 'Yes', new_post_path %>
</div>

 <strong><em class='bx bx-edit' id="icn_al"></em><p id="ds_ttl">Design</p></strong>
<div class="dsgn">
<div class="dsgn_usrone">
 <%= image_tag('dsg-temone.jpg',alt: "", id: "temp_one") %>
 <p>An easy to use template for planning and monitoring your branding and product design projects online.</p>
</div>

<div class="dsgn_usrtwo">
  <%= image_tag('dsg-temtwo.jpg',alt: "", id: "temp_two") %>
  <p>A design system unites product teams around a common visual language. It reduces the design debt.</p>
</div>

<div  class="dsgn_usrthree">
  <%= image_tag('dsg-temthree.jpg',alt: "", id: "temp_three") %>
  <p>This board can serve as a great template to track grant funding opportunities for your non profit organization or social enterprise.</p>
</div>

</div>

 <strong><em class='bx bx-code-alt' id="icn_al"></em><p id="ds_ttl">Development</p></strong>
<div class="devop">
  
  <div class="dsgn_usrone">
  <%= image_tag('devop-temone.webp',alt: "", id: "temp_one") %>
 <p>This was also helpful for me to make and check that there weren't too many assignments stacking up in a particular week with the revised schedule.</p>
</div>

<div class="dsgn_usrtwo">
  <%= image_tag('devop-temtwo.jfif',alt: "", id: "temp_two") %>
  <p>The Scrum Board by Corrello is a Template for a Software Development team following a Scrum process.</p>
</div>

<div class="dsgn_usrthree">
   <%= image_tag('devop-temthree.jfif',alt: "", id: "temp_three") %>
  <p>Template for software development team to organize, manage tasks, manage deadlines and features for their software development projects.

</p>
</div>

</div>

 <strong><em class='bx bxs-zap' id="icn_al"></em><p id="ds_ttl">Marketing</p></strong>
<div class="mrktng">

<div class="dsgn_usrone">
 <%= image_tag('markt-temone.png',alt: "", id: "temp_one") %>
 <p>Use this board with your marketing team to run smooth weekly team meetings and keep everybody on the same page with the status of projects. You'll also...</p>
</div>

<div class="dsgn_usrtwo">
 <%= image_tag('markt-temtwo.jpg',alt: "", id: "temp_two") %>
  <p>With a marketing content catalog, you can centralize all the content your teams create and make it easily searchable.</p>
</div>

<div class="dsgn_usrthree">
   <%= image_tag('markt-temthree.png',alt: "", id: "temp_three") %>
  <p>Regardless if you are a professional speaker and you do this dozen times per week, or you are just getting ready for your first public presentation, </p>
</div>
  
</div>

 <strong><em class='bx bxs-business' id="icn_al"></em><p id="ds_ttl">Business</p></strong>
<div class="busns">

<div class="dsgn_usrone">
  <%= image_tag('busi-temone.webp',alt: "", id: "temp_one") %>
 <p>Copy this template and after authorizing the Crmble Power-up, just create a Crmble Team to organize your boards and users</p>
</div>

<div class="dsgn_usrtwo">
 <%= image_tag('busi-temtwo.jfif',alt: "", id: "temp_two") %>
  <p>Lean Canvas is a 1-page business plan template created by Ash Maurya that helps you deconstruct your idea into its key assumptions.</p>
</div>

<div class="dsgn_usrthree">
   <%= image_tag('busi-temthree.jpg',alt: "", id: "temp_three") %>
  <p>This board can serve as a great template to track grant funding opportunities for your non profit organization or social enterprise.</p>
</div>
  
</div>
  
</div>


<script>
 

  function log(){
    console.log("work")
    var log = document.getElementById("usicn");
  var log_a = document.getElementById("usicb");
  log_a.classList.toggle("acea")

  }
</script>